# Левая половина - центральная
if SHIELD_IRIS_LEFT
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
endif

# Общие настройки для обеих половинок
if SHIELD_IRIS_LEFT || SHIELD_IRIS_RIGHT
config ZMK_SPLIT
    default y
config ZMK_KEYBOARD_NAME
    default "Igris"
endif