# Левая половина - центральная
if SHIELD_IRIS_LEFT_CENTRAL
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
config ZMK_KEYBOARD_NAME
    default "Igris_LEFT_CENTRAL"  # Отладочное имя
endif

if SHIELD_IRIS_RIGHT_PERIPHERAL
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default n
config ZMK_KEYBOARD_NAME
    default "Igris_RIGHT_PERIPHERAL"  # Отладочное имя
endif

if SHIELD_IRIS_LEFT || SHIELD_IRIS_RIGHT
config ZMK_SPLIT
    default y

endif